@if (!loading) {
    <div class="flex justify-center items-center h-dvh w-dvw">
        <section class="flex flex-col items-center justify-center bg-white p-8 gap-10">
            <img src="forgot-password.png" alt="forgot-password" class="w-12">
    
            <div class="flex flex-col items-center gap-3">
                <h1 class="text-3xl font-bold">Forgot Password?</h1>
                <p class="text-gray-500">No worries, we'll send you reset instructions.</p>
            </div>
            
    
            <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-80">
                
                <input id="email" type="email" placeholder="Email" class="border-b-2 rounded-sm p-3" formControlName="email">
                <!-- Email errrors -->
                @if (recoverPasswordForm.get('email')?.hasError('required') && recoverPasswordForm.get('email')?.touched) {
                    <span class="text-sm text-red-700 ml-2">Email required</span>
                }
                @if (recoverPasswordForm.get('email')?.hasError('email') && recoverPasswordForm.get('email')?.touched) {
                    <span class="text-sm text-red-700 ml-2">Invalid email</span>
                }
                
                <button type="submit" [disabled]="!recoverPasswordForm.valid" class="bg-blue-500 p-2 rounded-lg text-white font-bold mt-4 disabled:opacity-50">Submit</button>
            </form>
    
            <div>
                <a routerLink="/login" class="text-blue-500 hover:underline">Back to log in </a>
            </div>
        </section>
    </div>    
}@else {
    <div class="flex justify-center items-center h-dvh">
        <app-spinner></app-spinner>
    </div>
}
